.text {
  font-size: 50px;
  text-align: center;
}

.text1 {
  color: white;
  background-color: black;
  padding: 10px;
}

.text2 {
  background-color: white;
  color: black;
  padding: 10px;
}

.blockLevel {
  border: 2px solid #4caf50; /* Green border */
  padding: 10px;
  margin-bottom: 20px;
}

.inlineLevel {
  border: 2px solid #ff5722; /* Orange border */
  padding: 10px;
  margin-bottom: 20px;
}

.differenceExplanation {
  border: 1px solid #fff; /* Black border */
  padding: 10px;
  background-color: #121212; /* Light gray background */
  font-size: 20px;
}
.block {
  border: 2px solid #4caf50; /* Green border */
}
.inline {
  border: 2px solid #ff5722; /* Orange border */

  color: white; /* White text color */
}
